@charset "UTF-8";
/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop

  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop
  ORDER: Base + typography > general layout + grid > page layout > components
  1em === 16px
  */
/*Зануление стилей браузера*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*1rem === 10px*/
/*меняем пиксели на rem = 60px = 60/10 = 6rem */
/*размер нужно ставить в процентах, дефолт-16px(100%),
но если нам нужен кастомный, допустим 10px -> 10px / 16px = 0.625 = 62.5%*/
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.background {
  background: url("/power-automatics-html/img/background-image.jpg") center/cover no-repeat;
  position: relative;
  z-index: 0;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
  background-color: #eeeeee;
}
.header__heading-box {
  display: flex;
  gap: 1.1rem;
}
.header__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-box svg {
  height: 5rem;
  width: 5rem;
}
.header__title {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.header__title h1 {
  font-size: 2.5rem;
}
@media (max-width: 37.5em) {
  .header__title {
    font-size: 2.7rem;
  }
}
.header__title h2 {
  font-size: 2rem;
  font-weight: 500;
}
.header__contacts-box {
  display: flex;
  gap: 3rem;
}
@media (max-width: 37.5em) {
  .header__contacts-box {
    display: none;
  }
}
.header__email-box, .header__phone-number-box {
  display: flex;
  color: #fff;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
  gap: 0.5rem;
}
.header__email-box svg, .header__phone-number-box svg {
  height: 3.5rem;
  width: 3.5rem;
}
.header__email-box a, .header__phone-number-box a {
  font-size: 1.9rem;
  padding-top: 0.5rem;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 75em) {
  .header__email-box a, .header__phone-number-box a {
    padding-top: 0.6rem;
  }
}
.header__email-logo-box, .header__phone-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 7rem 7rem 7rem 15rem;
}
@media (max-width: 37.5em) {
  .about {
    padding: 5rem;
  }
}
.about__main {
  display: flex;
  max-width: 80%;
}
@media (max-width: 37.5em) {
  .about__main {
    max-width: none;
  }
}
.about__image-box {
  flex: 1; /* Каждый блок занимает равное пространство */
  max-width: 50%; /* Ограничиваем ширину до 50% */
}
.about__text-box {
  color: white;
  padding: 3rem;
  flex: 1;
  max-width: 50%;
  background: #3f6fcc;
  box-shadow: 0 0 2rem 0 #333333;
  border-radius: 0.7rem;
}
@media (max-width: 37.5em) {
  .about__text-box {
    max-width: none;
  }
}
.about__heading-box {
  display: flex;
  padding-bottom: 2rem;
}
.about__heading {
  font-size: 4.4rem;
}
.about__description {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  line-height: 2.5rem;
}

.works {
  font-size: 2rem;
  padding: 10rem;
}
.works__heading {
  font-size: 2.7rem;
  margin-bottom: 3.5rem;
  margin-left: 0.7rem;
}
.works__paragraph {
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-align: center;
}
.works__cards-box {
  display: flex;
  gap: 12rem;
}
.works__cards-box img {
  width: 25rem;
  height: 25rem;
  align-self: center;
}
.works__card-box {
  background-color: #fff;
  box-shadow: 0 0 0.8rem -0.3rem rgba(0, 0, 0, 0.36);
  margin-top: 1.5rem;
  padding: 3.5rem;
  color: #000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.works__card-box span {
  text-align: center;
  display: block;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  padding: 4rem;
}
.footer__main-box {
  display: flex;
  align-self: center;
  gap: 30rem;
}
.footer__main-box svg {
  height: 4rem;
  width: 4rem;
}
.footer__left-box {
  display: flex;
  color: #fff;
  gap: 0.8rem;
  font-size: 2rem;
  padding: 1.5rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
}
.footer__left-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__left-box-text {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
}
.footer__center-box {
  display: flex;
  color: #fff;
  gap: 0.8rem;
  font-size: 2rem;
  padding: 1.5rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
}
.footer__center-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__center-box-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 500;
}
.footer__center-box-text > span:last-child {
  font-weight: 400;
}
.footer__right-box {
  display: flex;
  color: #fff;
  gap: 0.8rem;
  font-size: 2rem;
  padding: 1.5rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
}
.footer__right-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__right-box-text {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  justify-content: center;
}
.footer__right-box-text > span:nth-child(2), .footer__right-box-text > span:nth-child(3), .footer__right-box-text > span:nth-child(4) {
  font-size: 1.5rem;
}

.map {
  display: flex;
  width: 100%;
  min-height: 51rem;
}
@media (max-width: 37.5em) {
  .map {
    display: block;
  }
}
.map__left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 50%;
  background: #1c499f;
  gap: 2.1rem;
}
@media (max-width: 37.5em) {
  .map__left-box {
    padding: 4.5rem;
    width: initial;
  }
}
.map__heading {
  font-size: 3rem;
  font-weight: 600;
  padding-left: 5rem;
  color: white;
}
@media (max-width: 37.5em) {
  .map__heading {
    padding-left: 0;
    font-size: 2.2rem;
  }
}
.map__microtext {
  font-size: 2rem;
  color: #dddddd;
  max-width: 55%;
  padding-left: 5rem;
}
@media (max-width: 37.5em) {
  .map__microtext {
    padding-left: 0;
    max-width: none;
  }
}
.map__contacts {
  display: flex;
  flex-direction: column;
  color: #dddddd;
  font-size: 2.1rem;
  padding-left: 5rem;
}
@media (max-width: 37.5em) {
  .map__contacts {
    padding-left: 0;
  }
}
.map__yandex-map {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
