@charset "UTF-8";
/*Зануление стилей браузера*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*1rem === 10px*/
/*меняем пиксели на rem = 60px = 60/10 = 6rem */
/*размер нужно ставить в процентах, дефолт-16px(100%),
но если нам нужен кастомный, допустим 10px -> 10px / 16px = 0.625 = 62.5%*/
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #f9f9fa;
  color: #000;
}

.background {
  background: url("../../img/background-image.jpg") center/cover no-repeat;
  position: relative;
  z-index: 0;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
}
.header__heading-box {
  display: flex;
  gap: 1.1rem;
}
.header__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title h1 {
  font-size: 2.5rem;
}
.header__title h2 {
  font-size: 2rem;
  font-weight: 500;
}
.header__contacts-box {
  display: flex;
  gap: 3rem;
}
.header__email-box {
  gap: 0.5rem;
  display: flex;
  color: #fff;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
}
.header__email-box span {
  font-size: 1.9rem;
  padding-top: 0.2rem;
}
.header__phone-number-box {
  gap: 0.3rem;
  display: flex;
  color: #fff;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
}
.header__phone-number-box span {
  font-size: 1.9rem;
  padding-top: 0.3rem;
}
.header__email-logo-box, .header__phone-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  justify-content: center;
  padding: 7rem;
}
.about__main {
  border: 1px rgb(255, 255, 255) solid;
  display: flex;
  max-width: 80%;
}
.about__image-box {
  flex: 1; /* Каждый блок занимает равное пространство */
  max-width: 50%; /* Ограничиваем ширину до 50% */
}
.about__text-box {
  color: white;
  padding: 3rem;
  flex: 1;
  max-width: 50%;
  background: #3f6fcc;
}
.about__heading-box {
  display: flex;
}
.about__heading {
  font-size: 4.4rem;
}
.about__description {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  line-height: 2.7rem;
}

.works {
  font-size: 2rem;
  padding: 10rem 0 10rem 0;
}
.works__heading {
  font-weight: 800;
  font-size: 2.9rem;
  padding-left: 10rem;
}
.works__paragraph {
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.works__cards-box {
  display: flex;
  gap: 12rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.works__cards-box img {
  width: 25rem;
  height: 25rem;
}
.works__card-box {
  background-color: #fff;
  box-shadow: 0 0 0.8rem -0.3rem rgba(0, 0, 0, 0.36);
  margin-top: 1.5rem;
  padding: 3.5rem;
  color: #000;
  border-radius: 2rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  padding: 4rem;
}
.footer__main-box {
  display: flex;
  align-self: center;
  gap: 30rem;
}
.footer__left-box {
  display: flex;
  color: #fff;
  gap: 0.7rem;
  font-size: 1.7rem;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
}
.footer__left-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__left-box-text {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  font-weight: 500;
  justify-content: center;
}
.footer__center-box {
  display: flex;
  color: #fff;
  gap: 0.7rem;
  font-size: 1.7rem;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
}
.footer__center-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__center-box-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 500;
}
.footer__right-box {
  display: flex;
  color: #fff;
  gap: 0.7rem;
  font-size: 1.7rem;
  padding: 0.7rem;
  background-color: #1c499f;
  border-radius: 0.8rem;
  cursor: pointer;
}
.footer__right-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__right-box-text {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  justify-content: center;
}
.footer__right-box-text > span:first-child {
  font-size: 2.1rem;
}

.map {
  display: flex;
  width: 100%;
  min-height: 51rem;
}
.map__left-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 50%;
  background: #1c499f;
  gap: 2.1rem;
}
.map__heading {
  font-size: 3rem;
  font-weight: 600;
  padding-left: 5rem;
  color: white;
}
.map__microtext {
  font-size: 2rem;
  color: #dddddd;
  max-width: 55%;
  padding-left: 5rem;
}
.map__contacts {
  display: flex;
  flex-direction: column;
  color: #dddddd;
  font-size: 2.1rem;
  padding-left: 5rem;
}
.map__yandex-map {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
