$dark-blue: #1c499f;
$gray-light: #eeeeee;

$dark-blue: #1c499f; // Тёмно-синий (основной)
$medium-blue: #3f6fcc; // Средний синий
$graphite: #333333; // Тёмный серый (текст)

$default-box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
