$dark-blue: #1c499f;
$gray-light: #eeeeee;

$dark-blue: #1c499f; // Тёмно-синий (основной)
$medium-blue: #3f6fcc; // Средний синий
// $bright-blue: #6f9fff; // Яркий голубой
// $light-blue: #b3ccff; // Светлый голубой
// $extra-light-blue: #f6f9ff; // Светлый голубой

// $accent-orange: #ff9900; // Акцентный оранжевый
// $neutral-gray: #f2f2f2; // Светлый серый (фон)
$graphite: #333333; // Тёмный серый (текст)

$default-box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
