$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-background: #f0f0f0;

$color-white: #41ff11;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-transparent: #eee;
$color-grey-dark: #777;
$color-grey-medium: #999;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

//fonts
$default-font-size: 1.6rem;

$default-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

$small-border-radius: 0.3rem;

$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-6: 6rem;
$gutter-vertical-4: 4rem;
