$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-background: #f0f0f0;
$color-text: #dddddd;

//fonts
$default-font-size: 1.6rem;

$small-border-radius: 0.3rem;
