@use '../abstracts/vars' as *;

.about {
  display: flex;
  justify-content: center;

  &__main {
    border: 1px red solid;
    display: flex;
    max-width: 80%;
  }

  &__image-box {
    flex: 1; /* Каждый блок занимает равное пространство */
    max-width: 50%; /* Ограничиваем ширину до 50% */
  }

  &__text-box {
    color: white;
    border: 1px pink solid;
    padding: 3rem;
    flex: 1;
    max-width: 50%;
    background: $medium-blue;
  }

  &__heading-box {
    display: flex;
  }

  &__heading {
    font-size: 4.4rem;
  }

  &__description {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    line-height: 2.7rem;
  }
}
