@use '../abstracts/vars' as *;
@use '../abstracts/mixins' as *;

.about {
  padding: 7rem 7rem 7rem 15rem;

  @include respond(phone) {
    padding: 5rem;
  }

  &__main {
    display: flex;
    max-width: 80%;
    gap: 3rem; // Разделяет image-box и text-box

    @include respond(phone) {
      max-width: none;
      flex-direction: column;
    }
  }

  &__image-box,
  &__text-box {
    flex: 1;
    max-width: 50%;

    @include respond(phone) {
      max-width: none;
    }
  }

  &__text-box {
    color: white;
    padding: 3rem;
    background: $medium-blue;
    box-shadow: 0 0 2rem 0 $graphite;
    border-radius: 0.7rem;
  }

  &__heading-box {
    display: flex;
    gap: 2rem;
  }

  &__heading {
    font-size: 4.4rem;
  }

  &__description {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    line-height: 2.5rem;
  }
}
