@use '../abstracts/vars' as *;

.about {
  // display: flex;
  // justify-content: center;
  padding: 7rem 7rem 7rem 15rem;

  &__main {
    display: flex;
    max-width: 80%;
  }

  &__image-box {
    flex: 1; /* Каждый блок занимает равное пространство */
    max-width: 50%; /* Ограничиваем ширину до 50% */
  }

  &__text-box {
    color: white;
    padding: 3rem;
    flex: 1;
    max-width: 50%;
    background: $medium-blue;
    box-shadow: 0 0 2rem 0 $graphite;
    border-radius: 0.7rem;
  }

  &__heading-box {
    display: flex;
    padding-bottom: 2rem;
  }

  &__heading {
    font-size: 4.4rem;
  }

  &__description {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    line-height: 2.5rem;
  }
}
