.footer {
  border: 1px blue solid;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);

  &__left-box {
    display: flex;
    background: red;
    font-size: 2.1rem;

    &-text {
      background: green;
      display: flex;
      flex-direction: column;
    }

    &-logo svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
