@use '../abstracts/vars' as *;

.footer {
  display: flex;
  justify-content: space-around;
  background-color: $gray-light;
  padding: 5rem;

  &__left-box {
    display: flex;
    gap: 0.7rem;
    font-size: 2.1rem;
    padding: 2rem;
    background-color: $extra-light-blue;
    box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
    border-radius: 14px;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-text {
      display: flex;
      gap: 0.6rem;
      flex-direction: column;
      font-weight: 500;
      justify-content: center;
    }
  }

  &__center-box {
    display: flex;
    gap: 0.7rem;
    font-size: 2.1rem;
    padding: 2rem;
    background-color: $extra-light-blue;
    box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
    border-radius: 14px;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-text {
      display: flex;
      gap: 0.3rem;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__right-box {
    display: flex;
    gap: 0.7rem;
    font-size: 1.4rem;
    padding: 2rem;
    background-color: $extra-light-blue;
    box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
    border-radius: 14px;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-text {
      display: flex;
      gap: 0.3rem;
      flex-direction: column;
      justify-content: center;
    }

    &-text > span:first-child {
      font-size: 2.1rem;
    }
  }
}
