@use '../abstracts/vars' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  min-height: 8rem;
  align-items: center;
  box-shadow: 0.4rem 0.6rem 0.8rem rgba(34, 60, 80, 0.2);
  background-color: $gray-light;

  &__heading-box {
    display: flex;
    gap: 1.1rem;
  }

  &__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__company-title {
  }

  .heading-primary {
    &--main {
      font-size: 2.5rem;
      font-weight: 700;
      color: #000;
    }

    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      color: #000;
    }
  }

  &__contacts-box {
    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
    // display: flex;
  }

  &__email-box {
    display: flex;

    span {
      font-size: 2.1rem;
      color: #000;
      margin-bottom: 1rem;
    }
  }

  &__email-logo-box {
    display: flex;
    align-items: center;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
  }

  &__phone-number-box {
    display: flex;

    span {
      font-size: 2.1rem;
      color: #000;
      text-align: center;
    }
  }

  &__phone-logo-box {
    padding-right: 0.6rem;
  }
}
