@use '../abstracts/vars' as *;
@use '../abstracts/mixins' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin contact-box {
  display: flex;
  color: #fff;
  padding: 0.7rem;
  background-color: $dark-blue;
  border-radius: 0.8rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  box-shadow: $default-box-shadow;
  background-color: $gray-light;

  &__heading-box {
    display: flex;
    gap: 1.1rem;
  }

  &__logo-box {
    @include flex-center;

    & svg {
      height: 5rem;
      width: 5rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    & h1 {
      font-size: 2.5rem;
    }

    @include respond(phone) {
      font-size: 2.7rem;
    }

    & h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &__contacts-box {
    display: flex;
    gap: 3rem;

    @include respond(phone) {
      display: none;
    }
  }

  &__email-box,
  &__phone-number-box {
    @include contact-box;

    & svg {
      height: 3.5rem;
      width: 3.5rem;
    }

    gap: 0.5rem;
    a {
      font-size: 1.9rem;
      padding-top: 0.5rem;
      color: #fff;
      text-decoration: none;

      @include respond(tab-land) {
        padding-top: 0.6rem;
      }
    }
  }

  &__email-logo-box,
  &__phone-logo-box {
    @include flex-center;
  }
}
