@use '../abstracts/mixins' as *;

/*Зануление стилей браузера*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*1rem === 10px*/
/*меняем пиксели на rem = 60px = 60/10 = 6rem */
/*размер нужно ставить в процентах, дефолт-16px(100%),
но если нам нужен кастомный, допустим 10px -> 10px / 16px = 0.625 = 62.5%*/
html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // if width < 1200px apply it <-
    font-size: 56.25%; // 1rem === 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // if width < 900px apply it <-
    font-size: 50%; // 1rem === 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // if width < 600px apply it <-
    // font-size: 31.25%; // 1rem === 5px
  }
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  // background: url('../../img/background-image.jpg') center/cover no-repeat;
  // position: relative;
}

.background {
  background: url('../img/background-image.jpg') center/cover no-repeat;
  position: relative;
  z-index: 0;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  // filter: blur(0.4rem);
  z-index: -1;
}

body::before {
  // content: '';
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  // filter: blur(0.4rem);
  // z-index: -1;
}
